@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  height: 60px;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  z-index: 1000;
}

h2 {
  color: #fb8500;
  cursor: pointer;
}

h2:hover {
  color: #fba646;
  transition: ease;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease;
  -ms-transition: ease;
  -o-transition: ease;
}

.taskbar-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.taskbar-list li:hover {
  color: #fb8500;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  color: #fb8500;
}

.input-group {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  background-color: #edf2f4;
  width: 60%;
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 35%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

button:hover {
  background-color: #fb8500;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.reset-button {
  margin-left: 10px;
  background-color: #fb8500;
}

.reset-button:hover {
  background-color: #fba646;
}

#wordList {
  list-style-type: none;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  overflow-y: auto;
  max-height: 400px;
}

.categories-dropdown {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.categories-dropdown ul {
  list-style-type: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}

.categories-dropdown ul > li:hover {
  color: #fb8500;
}

.placeholder-message {
  text-align: center;
  color: #aaa;
}
