@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  padding-inline: 30px;
  height: 60px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  z-index: 1000;
}

.categories-dropdown {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  width: 100%;
}

.categories-dropdown ul {
  align-items: center;
  list-style-type: none;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.categories-dropdown ul > li:hover {
  color: #fb8500;
}

h2 {
  color: #fb8500;
  cursor: pointer;
}

h2:hover {
  color: #fba646;
}

.taskbar-list {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.taskbar-list li:hover {
  color: #fb8500;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  color: #fb8500;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  height: 40px;
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.reset-button {
  background-color: #fb8500;
}

.reset-button:hover {
  background-color: #fba646;
}

.main-wordlist {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  width: 80%;
  margin-top: 20px;
}

.main-wordlist li {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-wordlist li:hover {
  background-color: #f9f9f9;
}

.dictionary-wordlist {
  list-style-type: none;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

#wordTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#wordTable th,
#wordTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#wordTable th {
  background-color: #e0e0e0;
}

.placeholder-message {
  text-align: center;
  color: #aaa;
  padding: 20px;
}
